@import "~bootstrap/scss/bootstrap";

main{
  min-height: calc(100vh - 157px);
  margin: 30px 0;
}

footer{
  background-color: #252525;
  color: rgba(255, 255, 255, 0.5);
  font: 15px;
  padding: 3px;
  text-align: center;
}
.home_product_container{
  margin: 30px 0;
}
.home_slider{
  margin-top: 30px;
}

.carousel-indicators li{
  background-color: #555;
}
.product_detail{
  font-size: 14px;
}
.form_container{
  width: 65%;
  margin:auto;
  border: 1px solid #ccc;
  padding: 30px 20px;
  border-radius: 5px;
}
.list-group-item{
  width: 75%;
  text-align: center;
  margin-bottom: 20px;
  padding: 0.75rem 0;

}
.info_box p{
  margin: 0;
}
.loading_box{
  position: relative;
  left: 48%;
  top: 100px;
}
@media (max-width:900px){
  .form_container{
    width: 90%;
  }
}

@media (max-width:558px){
  .list-group-item{
    font-size: 12px;
  }
}